<style>

    .logo {
        height: 70px;
        width: auto;
        justify-content: flex-start;
    }
    a{
        text-decoration:none;
       
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        
    }
</style>


<nav class="navbar nav ">
    <div class="container align-items-center">

        <a class="navbar-bran" asp-area="" asp-controller="Home" asp-action="index">
            <h1> Logotipo </h1>
        </a>

        <a class="" asp-area="" asp-controller="/" asp-action="index">
           Home
        </a>
        <a class="" asp-area="" asp-controller="/" asp-action="">
            Loja
        </a>
        <a class="" asp-area="" asp-controller="/" asp-action="">            Sobre
        </a>

      

    </div>
</nav>