@model NatuViva.Models.Suplemento

@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
}

<h1> Eu sou a página detalhes </h1>
